<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
  	<img id="icon" [src]="imgPath"  class="img-fluid">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleNavbar = !toggleNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="!toggleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>

    </ul>

    <form *ngIf="router.url=='/'" id="searchForm" (ngSubmit)="searchBackend()" class="form-inline my-2 my-lg-0">
      <input name="searchString" [(ngModel)]="searchString" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>